extends layout

block content
    div.ui.grid
        div.ui.three.column.row
            div.column
                input.ui.inverted.red.button(type="button", value="Find Your Location", onclick="updateLocalLocations(20)")
            div.column
                input.ui.inverted.blue.button(type="button", value = "Food", onclick="goto(this)")
            div.column
                input.ui.inverted.blue.button(type="button", value = "News", onclick="goto(this)")
        //input.ui.inverted.blue.button(type="button", value = "Food", onclick="goto(this)")
    div.ui.three.column.middle.aligned.relaxed.fitted.stackable.grid
        div.center.aligned.column(style="vertical-align: top")
            div.ui.inverted.segment(id="newsDiv", style="visibility: hidden")
                div.ui.inverted.relaxed.divided.list(id='news')
        div.center.aligned.column
            div.ui.inverted.segment(id="foodDiv", style="visibility: hidden")
                div.ui.inverted.relaxed.divided.list(id='food')
    div(id="map")