extends layout
block content
    div#wrap
        nav.navbar.bg-color1.dark-bg.navbar-fixed-top.navbar-slide.navbar-transparent(role="navigation")
            div.container
                a.navbar-brand.goto(href="#intro-center")
                    img(src="images/logo1.png", height="25", alt="Presto")
                button.navbar-toggle.menu-collapse-btn.collapsed(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                div.navbar-collapse.collapse
                    ul.nav
                        li
                            a(href="#motto-video") Motto
                        li
                            a(href="#about-left") About
                        li
                            a(href="#demo") Demo
                        li
                            a(href="#team") Team
                        li
                            a(href="#") User
                        li
                            a(href="#") Business
        header#intro-center.intro-block.bg-color1.dark-bg.fixed-bg.double-padding.text-center(style="background-image: url(images/background.jpg);")
            div.container
                div.slogan
                    h1 Presto
                    h2 Try the Demo
                a.goto(href="#demo")
                    i.icon.big-icon.icon-arrow-down
        section#motto-video.bg-color1.dark-bg.double-padding.text-center
            div.container
                div.row
                    div.col-sm-12
                        h2.big-title We are committed to providing you with a positive experience wherever you go!
                        p.desc-text
                            | Our service uses the most moder and efficient methods to produce the best results under your conditions.
            div.video-bg
        section#about-left.no-sep
            div.container
                div.row
                    div.col-lg-4.col-md-5
                        h2 User Experience
                        p
                            | Presto provides users with all the possible information needed for a specific location or your current location. This includes weather, local deals, popular restaurants, events, and much more. In addition, what information you want to see can be controlled by you.
            div.container-half.container-half-right.cover-bg(style="background-image: url(images/chinaRestaurant.jpg);")
        section#content-half-right.bg-color2.dark-bg
            div.container
                div.row
                    div.col-lg-4.col-lg-offset-8.col-md-5.col-md-offset-7
                        h2 Business Experience
                        p
                            | Business owners can take advantage of Presto's functionality to promote their business to local tourists and become more aware throughout the community.
            div.container-half.container-half-left.cover-bg(style="background-image: url(images/hong-kong.jpg);")
        section#demo.clients-block.text-center.cover-bg(style="background-image: url(images/wood.jpg);")
            h1 Demo
            div.ui.secondary.inverted.segment(style="width: 80%; margin: 0 auto;")
                div.ui.two.column.middle.aligned.relaxed.fitted.stackable.grid(style="position: relative; ")
                    div.center.aligned.column
                        div.btn-group
                            button.btn.btn-danger.btn-lg.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true")
                                |Select a City:&nbsp;&nbsp;
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(onclick="updateInformation('Atlanta', 'GA')")
                                        |Atlanta, GA
                                li.divider(role="seperator")
                                li
                                    a(onclick="updateInformation('San Francisco', 'CA')")
                                        |San Francisco, CA
                                li.divider(role="seperator")
                                li
                                    a(onclick="updateInformation('Philadephia', 'PA')")
                                        |Philadelphia, PA
                                li.divider(role="seperator")
                                li
                                    a(onclick="updateInformation('New York City', 'NY')")
                                        | New York City, NY
                    div.ui.vertical.divider(style="color: white")
                        |Or
                    div.center.aligned.column
                        button.btn.btn-lg.btn-primary(onclick="getLocation()")
                            |Explore Your Surroundings


            //have to figure out how to organize dropdown such that it looks a little nicer.  this is a good start thought
            br
            br
            div.ui.tertiary.segment(id="resultDiv", style="visibility: hidden")
                ul.nav.nav-tabs.nav-stacked.nav-justified(id="resultTabs")
                    li
                        div.ui.circular.massive.blue.button(id="foodButton", href="#food", data-toggle="tab", style="width: 80%")
                            |Food &nbsp;
                            span.glyphicon.glyphicon-cutlery
                    li
                        div.ui.circular.massive.orange.button(id="newsButton", href="#news", data-toggle="tab", style="width: 80%")
                            |News &nbsp;
                            span.glyphicon.glyphicon-list-alt
                    li
                        div.ui.circular.massive.green.button(id="eventsButton", href="#events", data-toggle="tab", style="width: 80%")
                            |Events &nbsp;
                            span.glyphicon.glyphicon-music
                    li
                        div.ui.circular.massive.red.button(id="lodgingButton", href="#lodging", data-toggle="tab", style="width: 80%")
                            |Lodging &nbsp;
                            span.glyphicon.glyphicon-home
                    li
                        div.ui.circular.massive.purple.button(id="dealsButton", href="#deals", data-toggle="tab", style="width: 80%")
                            |Deals &nbsp;
                            span.glyphicon.glyphicon-usd

                div.tab-content(id="tabs")
                    div.tab-pane.active(id="food")

                    div.tab-pane(id="news")

                    div.tab-pane(id="events")

                    div.tab-pane(id="lodging")

                    div.tab-pane(id="deals")

        section#team.team-block
            div.container
                h2.title.text-center Team
                div.row
                    div.col-sm-4
                        img.screen(src="images/karan.jpg", alt="Karan")
                        h3.name Karan Pahawa
                        h4.occupation Marketing/UI Designer
                        ul.soc-list
                            li
                                a(href="#", target="_blank")
                                    i.icon.icon-twitter2
                            li
                                a(href="#", target="_blank")
                                    i.icon.icon-facebook2
                            li
                                a(href="#", target="_blank")
                                    i.icon.icon-googleplus2
                                        li
                                a(href="#", target="_blank")
                                    i.icon.icon-linkedin2
                    div.col-sm-4
                        img.screen(src="images/sagar.jpg", alt="Sagar")
                        h3.name Sagar Laud
                        h4.occupation Lead Backend Engineer
                        ul.soc-list
                            li
                                a(href="#", target="_blank")
                                    i.icon.icon-twitter2
                            li
                                a(href="#", target="_blank")
                                    i.icon.icon-facebook2
                            li
                                a(href="#", target="_blank")
                                    i.icon.icon-googleplus2
                                        li
                                a(href="#", target="_blank")
                                    i.icon.icon-linkedin2
                    div.col-sm-4
                        img.screen(src="images/sunny.jpg", alt="Sunny")
                        h3.name Abhishek Deo
                        h4.occupation Frontend/Backend Engineer
                        ul.soc-list
                            li
                                a(href="#", target="_blank")
                                    i.icon.icon-twitter2
                            li
                                a(href="#", target="_blank")
                                    i.icon.icon-facebook2
                            li
                                a(href="#", target="_blank")
                                    i.icon.icon-googleplus2
                                        li
                                a(href="#", target="_blank")
                                    i.icon.icon-linkedin2
        footer#footer.bg-color1.dark-bg
            div.container
                div.row
                    div.col-md-6.col-md-push-6.text-right
                        ul.soc-list
                            li
                                a(href="#", target="_blank")
                                    i.icon.icon-twitter2
                            li
                                a(href="#", target="_blank")
                                    i.icon.icon-facebook2
                            li
                                a(href="#", target="_blank")
                                    i.icon.icon-googleplus2
                                        li
                                a(href="#", target="_blank")
                                    i.icon.icon-linkedin2
                    div.col-md-6.col-md-pull-6
                        img.logo(src="images/logo1.png", alt="Presto")
                        span.editcontent
                            | &#169; 2015 Presto
                            br
                            | Designed by
                            a(href="", target="_blank") Presto Team
    div#modalMessage.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
        div.modal-dialog
            div.modal-content
                button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
                h3.modal-title &#160;
    script.
        $('#resultTabs').tabCollapse();