extends layout
block content
    div(id='map')
    div.topContainer
        div.ui.grid
            div.ui.one.column.row
                div.column
                    input.ui.inverted.red.button(type="button", value="Explore Your Surroundings", onclick="updateBasedOnLocation()", id ="topBar")
            div.ui.three.column.row
                div.column
                    input.ui.inverted.blue.button(type="button", value = "Food", id ="food")
                div.column
                    input.ui.inverted.green.button(type="button", value = "News", id ="news")
                div.column
                    input.ui.inverted.orange.button(type="button", value = "Events", id ="events")
            div.ui.one.column.row
                div.column(id="infoDiv", style="visibility:hidden;")
                    div.ui.cube.shape(id="cubeShape")
                        div.sides
                            div.active.side(id="foodContent")
                                div.content(id="foodContentLocation")
                            div.side(id="newsContent")
                                div.content(id="newsContentLocation")
                            div.side(id="eventContent")
                                div.content(id="eventContentLocation")
    script.
        $('#food').click(function() {
        $(".shape")
            .shape('set next side', '#foodContent')
            .shape('flip right');
            $("#foodContentLocation").html(foodHtml)
        });
        $('#news').click( function(){
            $('.shape')
            .shape('set next side', '#newsContent')
            .shape('flip right');
            $("#newsContentLocation")
            .html(newsStuff)
            //$("#newsContent").jscroll({
              //  autoTriggerUntil: 10, contentSelector: '.item'
            //})
        });
        $('#events').click(function() {
            $('.shape')
            .shape('set next side', '#eventContent')
            .shape('flip right');
            $("#eventContentLocation")
            .html(eventHtml);
        });