doctype html
html
    head
        title= Presto
        link(rel='stylesheet', href='/stylesheets/layout.css')
        link(rel='stylesheet', href='/stylesheets/iconfont-style.css')
        link(rel='stylesheet', href='/stylesheets/magnific-popup.css')
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
        script(src="javascripts/main/jquery-1.11.2.min.js")
        script(src='javascripts/main/layout.js')
        script(src='javascripts/main/video.js')
        script(src='javascripts/main/bigvideo.js')
        script(src='javascripts/main/waypoints.min.js')
        script(src='javascripts/main/jquery.counterup.min.js')
        script(src='javascripts/main/jquery.magnific-popup.min.js')
        script(src='javascripts/main/placeholders.jquery.min.js')
        script(src='javascripts/main/jquery.smooth-scroll.min.js')
        script(src='javascripts/main/smoothscroll.js')
        script(src='javascripts/main/jquery.validate.min.js')
        script(src="/bootstrap/dist/js/bootstrap.min.js")
    body(data-spy="scroll" data-target=".navMenuCollapse")
        block content