doctype html
html
    head
        title= Presto
        link(rel='stylesheet', href='/stylesheets/layout.css')
        link(rel='stylesheet', href='/stylesheets/iconfont-style.css')
        link(rel='stylesheet', href='/stylesheets/magnific-popup.css')
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='semantic/dist/components/label.css')
        link(rel='stylesheet', href='semantic/dist/components/grid.css')
        link(rel='stylesheet', href='semantic/dist/components/loader.css')
        link(rel='stylesheet', href='semantic/dist/components/divider.css')
        link(rel='stylesheet', href='semantic/dist/components/dropdown.css')
        link(rel='stylesheet', href='semantic/dist/components/button.css')
        link(rel='stylesheet', href='semantic/dist/components/segment.css')
        link(rel='stylesheet', href='semantic/dist/components/item.css')
        link(rel='stylesheet', href='semantic/dist/components/menu.css')
        script(src="javascripts/main/jquery-1.11.2.min.js")
        script(src="/bootstrap/dist/js/bootstrap.min.js")
        script(src='javascripts/main/layout.js')
        script(src='javascripts/main/video.js')
        script(src='javascripts/main/bigvideo.js')
        script(src='javascripts/main/waypoints.min.js')
        script(src='javascripts/main/jquery.counterup.min.js')
        script(src='javascripts/main/jquery.magnific-popup.min.js')
        script(src='javascripts/main/placeholders.jquery.min.js')
        script(src='javascripts/main/jquery.smooth-scroll.min.js')
        script(src='javascripts/main/jquery.validate.min.js')
        script(src='javascripts/main/smoothscroll.js')
        script(src='javascripts/util.js')
        script(src='javascripts/shape.js')
        script(src='javascripts/infinity.js')
        script(src='javascripts/jscroll.js')
        script(src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCoUofCZSTI0oBhfJGuwRp58TqgTnCiH64&libraries=places")

    body(data-spy="scroll" data-target=".navMenuCollapse")
        block content