doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/layoutMain.css')
        link(rel='stylesheet', href='/stylesheets/auth.css')
        link(rel='stylesheet', href='/semantic/dist/semantic.css')
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
        link(rel='styleSheet', href='http://fonts.googleapis.com/css?family=PT+Sans:400,700')
        link(rel='styleSheet', href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,100,300', type='text/css')
        //link(href="//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese", rel="stylesheet", type="text/css")
        //script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js")
        //script(src="https://maps.googleapis.com/maps/api/js?libraries=places")
        script(src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCoUofCZSTI0oBhfJGuwRp58TqgTnCiH64&libraries=places")
        //script(src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.13.0/javascript/semantic.min.js")
        script(src="/bootstrap/dist/js/bootstrap.js")
        script(src='/javascripts/util.js')
        script(src='javascripts/shape.js')
        script(src='javascripts/infinity.js')
        script(src='javascripts/jscroll.js')
        script(src='javascripts/auth.js')
        script(src='/javascripts/authMain.js')
        script(src='/javascripts/jquery-1.8.2.min.js')
        script(src='/javascripts/jquery.backstretch.min.js')
    body
        nav.navbar.navbar-default
            div.container-fluid
                div.navbar-header
                    a.navbar-brand(href='/') Presto
                div.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.dropdown
                            a.dropdown-toggle(data-toggle='dropdown', role='button', aria-expanded="false") Choose a City
                                span.caret
                            ul.dropdown-menu(role='menu')
                                li
                                    a(onclick="updateInformation('Atlanta')") Atlanta
                                li.divider
                                li
                                    a(onclick="updateInformation('San Francisco')") San Francisco
                                li.divider
                                li
                                    a(onclick="updateInformation('Philadelphia')") Philadelphia
                                li.divider
                                li
                                  a(onclick="updateInformation('New York City')") New York City
                    ul.nav.navbar-nav.navbar-right
                        li
                            a Individuals
                        li
                            a Companies
        block content